.App {
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
  /* margin-top: 20px; */
  flex-direction: column;
  gap: 20px;
}

section {
  display: flex;
}

.show-details aside {
  padding: 20px;
  width: 200px;
  /* word-break: break-all; */
}

.App #cy {
  background-color: #1b1b1b;
  width: 100vw;
  height: calc(100vh - 80px);
  display: block;
}

.show-details #cy {
  width: calc(100vw - 200px);
}

.actions {
  display: flex;
  gap: 20px;
  margin: 0 20px;
  width: calc(100vw - 40px);
}

.actions select {
  background-color: #8cb4ff;
  border: 0;
  font-size: 18px;
  padding: 5px 30px;
}
