.App {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

#cy {
  background-color: #1b1b1b;
  width: 1600px;
  height: 600px;
  display: block;
}

.actions {
  display: flex;
  gap: 20px;
  width: 1600px;
}
