.App {
  align-items: center;
  display: flex;
  /* justify-content: center; */
  /* margin-top: 20px; */
  flex-direction: column;
  gap: 20px;
}

#cy {
  background-color: #1b1b1b;
  width: 100vw;
  height: calc(100vh - 80px);
  display: block;
}

.actions {
  display: flex;
  gap: 20px;
  margin: 0 20px;
  width: calc(100vw - 40px);
}
